/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)

   Reset
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 
    ===================== Layout
*/
h1 {
    text-transform: capitalize;
}

h1, h2, h3, h4, h5 {
    color: #672064;
}

p, a, b, li, span, h1, h2, h3, h4, h5, h6 {
    font-size: 12px;
    font-family:Arial, Helvetica, sans-serif; fill: #672064;
}

a {
    color: #672064;
    text-decoration: none;
}

/*
    ===================== Structure
*/
body {
    background: #fbfbfb;
    padding: 10px;
}

#viewer {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;

    max-width: 100%;
    max-height: 100%;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#viewer svg {
    max-width: 100%;
    max-height: 100%;
    height: 100vh;
    width: 100vw;
}

.info_box {
    top: 0;
    left: -160px;
    height: 100vh;
    position: fixed;

    background-color: rgba(91, 91, 91, 0.7);
    padding: 10px 20px 10px 16px;

    width: 120px;
    transition: left 0.5s;
    overflow-x: hidden;
}

.info_box.opened {
    left: 0;
}

.info_box h1 {
    font-weight: bold;
    font-size: 16px;
    padding: 5px 0;
}

.info_box ul li  {
    border-bottom: 1px solid #a0a0a0;
    padding: 5px 0;
    margin-bottom: 5px;
}

.info_box ol li  {
    border-bottom: none;
    padding:2px 0;
    margin-bottom: 0;
    color: #f4f4f4;
    list-style: inside square;
}

.info_box ol li b {
    font-weight: bold;
}

.info_box li h2 {
    font-size: 14px;
    padding: 4px 0;
}

.info_box ul li ul {
    padding: 2px 0;
    display: none;
    position: relative;
    overflow: hidden;
}

.info_box ul li ul li {
    color: #dddbdb;
    font-size: 12px;
    padding: 2px 0;
    border: none;
    list-style: inside square;
}

.number {
    color: #fff;
    font-size: 16px;
    text-align: center;
    display: inline;
}


.hist {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hist div {
    height: 10px;
    flex-grow: 1;
    margin:2px;
    flex-wrap: wrap;
    background: rgba(103, 32, 100, 0.6);
    border: 1px solid #672064;
    align-self: flex-end;
    
    color: #fff;

    position: relative;
}

.hist div p {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    font-size: 11px;
}

#menu {
    z-index: 10;
}

#infobox {
    width: 200px;
    left: -280px;
    border-left: 1px solid #fff;
}

#infobox p {
    color: #fff;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.half {
    flex-wrap: wrap;
}

.tag {
    border-radius: 2px;
    border: 1px solid #a0a0a0;
    padding: 2px;
    margin-top: 4px;
    position: relative;
    display: inline-block;
    background: #a3a3a3;
    color: #fff;
}

.tag-primary {
    background: #672064;
    font-size: 14px;
    border-radius: 2px;
    border: none;
    padding: 4px 0;
    width: 100%;
    text-align: center;
}

/*
    ===================== TooltipApps
*/
.apptlp {
    border: 1px solid #767676;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px 15px 15px;
    border-radius: 3px;
    display: inline-block;
    color: #fff;
    min-width: 130px;
}

.apptlp ul {
    position: relative;
    display: inline-block;
    min-width: 130px;
    max-width: 250px;
}

.apptlp ul li {
    padding: 6px 0;
    border-bottom: 1px solid #fff;
}

.apptlp ul li span {
    color: #e0e0e0;
}

.apptlp ul li:first-child {
    border-bottom: 1px solid #fff;
    margin-bottom: 5px;
}

.apptlp ul li:first-child b {
    display: none
}

.apptlp ul li:first-child span {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}

.apptlp ul li b {
    text-transform: capitalize;
}

.apptlp a {
    color: inherit;
}

.tb-btn span {
    border-top: 1px solid #a0a0a0;
    border-bottom: 1px solid #a0a0a0;
    border-right: 1px solid #a0a0a0;

    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;

    position: absolute;
    display: inline-block;
    background: rgba(0, 0, 0, 0.8);
    height: 100%;
    width: 20px;
    text-align: center;
    right: -20px;
    top: -1px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    color: #fff;
    font-weight: bold;
}

.glowing {
    filter: url(#glow);
}


/*
    ===================== connector
*/
.conector_h, .conector {
    cursor: crosshair;
}

.mini-ell {
    pointer-events: none;
}

.boundaries {
    cursor: pointer;
}



/*
    ===================== Mini tooltip
*/
.minitlp {
    background: #672064;
    border-radius: 4px;
    padding: 10px;
    color: #fff;
    display: inline;
    text-transform: capitalize;
    font-size: 14px;
    pointer-events: none;
}

.noshow {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, left 0.2s, top 0.2s;
}

.show {
    opacity: 1;
    visibility: visible;
}

.footer {
    font-size: 10px;
}